{% extends "block.html.twig" %}


{% block main %}
	<h1>Bravo, vous avez l'âge de jouer comme Patrick.</h1>
	<img src="https://media.gqmagazine.fr/photos/5f83e44498c274a8707da15f/16:9/w_1280,c_limit/EkEDlDVXcAECd2b.jpeg" alt="">
{% endblock %}
