{% extends "block.html.twig" %}


{% block main %}

	<h1>Vous devez donner un âge valable ! Salaud !!!!</h1>
	<img src="https://boxprotec.fr/wp-content/uploads/2019/10/panneau-interdit-de-rentree-carre.jpg" alt="">

{% endblock %}
