{% extends "block.html.twig" %}


{% block main %}

	{#<pre>
								    {{ dump(categories) }}
								</pre>#}

	{% for category in categories %}
		<h2>
			<a href="{{ path('admin_category_show', {'id' : category.id} ) }}">
				{{ category.name }}
			</a>
		</h2>
		<p>{{ category.description }}</p>
		<hr>
	{% endfor %}

{% endblock %}
