<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
	</head>
	<body>
		<h1>La super vue</h1>
		<h2>De la mort qui tue</h2>
		<p>Lorem ipsum, dolor sit amet consectetur 
									        adipisicing elit. Numquam, esse. 
									        Expedita sequi fugit, sunt recusandae, 
									        accusamus aliquid consequatur, 
									        amet nesciunt dignissimos dolores 
									        tempore quisquam distinctio quae animi.
									         Amet, culpa neque?</p>
		<table>
			<thead>
				<tr>
					<th>Nom</th>
					<th>Prénom</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Wayne</td>
					<td>Bruce</td>
				</tr>
				<tr>
					<td>Kent</td>
					<td>Clark</td>
				</tr>
			</tbody>
		</table>
		<img src="https://images-na.ssl-images-amazon.com/images/I/81BPVA1hBUL.jpg" alt="batman&superman">
	</body>
</html>
