{% extends "block.html.twig" %}

{% block main %}

	<form action="{{ path('email') }}" method="post">

		<label for="message">Votre message</label>
		<input type="text" name="message" id="message" placeholder="Votre message">
		<input type="submit" value="Envoyer">
	</form>

{% endblock %}
