{% extends "block.html.twig" %}

{% block main %}

	<form action="" method="post">

		<label for="message">Votre message</label>
		<input type="text" name="message" id="message" placeholder="Votre message">

	</form>

{% endblock %}
