<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Email</title>
	</head>
	<body>

		<h1>Email</h1>
		<h2>{{ toto }}</h2>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos repellendus dolores possimus expedita vero, delectus reiciendis nihil sunt sint natus, praesentium totam iusto neque maxime cum. Error incidunt nobis perferendis?</p>

	</body>
</html>
