{% extends "block.html.twig" %}

{% block main %}

	{% for article in articles | slice(0,3) %}
		<h2>
			<a href="{{ path('front_post_show', {'id' : article.id} ) }}">
				{{ article.title | upper }}</a>
		</h2>
		<p>{{ article.content }}</p>
	{% endfor %}

{% endblock %}
