{% extends "block.html.twig" %}


{% block main %}

	{# On remplit le "trou" du block avec ce code #}
	<a href="{{ path('home') }}">Home</a>
	<a href="{{ path('play', {'age' : 18 } ) }}">Jouer</a>

	{% for article in articles %}
		<a href="{{ path('article_show', {'id' : article.id}) }}">
			<h2>{{ article.titre }}</h2>
		</a>

		<hr>
	{% endfor %}

	{# 
						Exercice : 
						Chaque titre d'article doit être un lien vers 
						la route article_show qui affiche un article 
						séléctionné grâce à son id. 
																		
					 #}

	{# mettre du css dans ce fichier pour que cela ressemble à la page d'exemple 
		les titres des articles devront être de la couleur de "La Saga des Clones" #}
{% endblock %}
