{% extends "block.html.twig" %}

{% block main %}

	{% for tag in tags %}
		<h2>
			<a href="{{ path('tag_show', {'id' : tag.id} ) }}">
				{{ tag.name }}
			</a>
		</h2>
		<p>{{ tag.description }}</p>
	{% endfor %}

{% endblock %}
